/* ===== Mythic Skull ==================================================
Author: Eric Taylor - www.elementsaside.com
========================================================================== */
body {
    background: url("https://i.imgur.com/Go1VnNP.jpg") repeat;
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.u-site-wrapper {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background: black;
}

/* ===== Skull ==============================================================
Animating the skull SVG
========================================================================== */
.o-skull {
    height: 80%;
    left: 50%;
    max-height: 80%;
    max-width: 80%;
    overflow: visible !important;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
}

#skull--bottom {
    transform: translateY(0px);
    animation: floating 2s 1s ease infinite;
}

#eye-socket--left-front,
#eye-socket--right-front {
    opacity: 0;
    animation: pulse 2s 1s ease infinite;
}

@keyframes floating {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes pulse {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.45;
    }

    100% {
        opacity: 0;
    }
}